@model trade_llc_login.Models.Products
@{
    ViewBag.Title = "Nuts";
    var prodId = 0;
}

<div class="jumbotron text-center header_main row">
    <div class="col-md-12">
        <h8>Nuts</h8>
    </div>
</div>

<!-- these two divs look out of place, but they are necessary to make the header full screen -->
</div>
<div class="container body-content">
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="jumbotron row">
        <div class="col-md-6">
                    <h1>@Model.ProductName</h1>
                    <ul>
                        <li>Location: @Model.ProductPickupLocation</li>
                        <li>Amount of Product for Sell: @Model.ProductAmount</li>
                        <li>Price: @Model.SellingPrice</li>
                    </ul>
        </div>
        <img class="col-md-6" style="display:block;margin:0 auto;" src=@Model.ProductImg />
        <br />
    </div>

    @*TODO - switch how the models are being grabbed in ProductsController (it's printing multiple cashews because it is based off of comments, not products)*@
           @*- add ability to reply
           - add ability to edit comments or replies*@
<div>
    <h1>Comment/Questions</h1>
    <div class="form-group">

            <div id="allComments">

                @foreach (var comment in Model.Comments) //second loop to go through the comments.
                {
                        @*user comment*@
                        <h3><strong>@comment.Users.UserFirstName @comment.Users.UserLastName:</strong> @comment.Comment</h3>

                        @*user replies*@
                        foreach (var rep in comment.reps)
                        {
                            <h5><strong>@rep.Users.UserFirstName @rep.Users.UserLastName:</strong> @rep.Reply</h5>
                        }

                        @*reply box*@
                        using (Html.BeginForm("Reply", "Products", new { email = ViewBag.Cookie, CommentID = comment.CommentID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Label("Reply:")
                            @Html.TextBox("reply")
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        }
                }
            </div>

        @using (Html.BeginForm("Comment", "Products", new { email = ViewBag.Cookie, productId = prodId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Label("Comment:")
            @Html.TextArea("comment")
            <br />
            <input type="submit" class="btn btn-primary" value="Submit" />
        }
        </div>
</div>
